body {
  margin: 0;
  padding: 20px;
  background: #e0e0e0;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* LIBRO */
#book {
  width: 350px;
  height: 500px;
  margin: auto;
}

.page {
  background: white;
  border: 1px solid #000;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTADA */
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
