body {
  margin: 0;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.mensaje {
  font-size: 18px;
  opacity: 0.8;
}
