* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Libro */
#book {
  margin: auto;
}

/* Páginas */
.page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  user-select: none;
  cursor: pointer;
}

/* Portada */
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
